/*body {
    background-color: rgb(215, 228, 224);
}*/

/*.container {
    max-width: 800px;
    margin: 0 auto;
}*/
/*.timer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
}*/
/*.timer__area {
    width: 200px;
    height: 100px;
    background-color: rgb(173, 211, 199);
    border: 1px solid gray;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    color: rgb(87, 87, 87);
    font-size: 55px;
    font-family: monospace;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}*/
/*.btns {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
}*/
/*input {
    width: 100px;
    height: 40px;
    background-color: rgb(54, 75, 68);
    border: none;
    box-shadow: 5px 5px 10px black;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-family: monospace;
}*/